<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload image using camera</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <style>
        .mt-6 {
            margin-top: 7.5rem;
        }

        video,img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <!-- navbar -->
    <div class="nav-bar" style="background-color:#2f88fc;">
        <nav class="navbar navbar-expand-md navbar-light">
            <a href="#" class="navbar-brand">
                <span class="h4">MOODMENU</span>
                <!-- <img class="d-inline-block" src="mood-menu-logo.jpg" alt="mood-menu-logo" width="50" height="60"/> -->
            </a>
            <button 
                type="button" 
                data-toggle="collapse" 
                data-target="#navbarNav" 
                class="navbar-toggler"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-md-center align-items-center" id="navbarNav">
                <ul class="navbar-nav ml-auto" style="margin-right: 50px;">
                    <li class="nav-item active mr-5">
                        <a href="#" class="nav-link h4">Home</a>
                    </li>
                    <li class="nav-item active mr-5">
                        <a href="#" class="nav-link h4">About</a>
                    </li>
                    <li class="nav-item active mr-5">
                        <a href="#" class="nav-link h4">Features</a>
                    </li>
                    <li class="nav-item active mr-5">
                        <a href="#" class="nav-link h4">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container text-left mt-6 mb-5">
        <div class="row align-items-start">
            <div class="container col ml-5">
                <h1>Capture your image.</h1>
                <h4 class="mb-5 mt-5" style="color:grey;">Remember to take a clear picture<br>in a well-lit enviroment for optimal results.</p>
                <button class="btn mt-4" style="background-color: #2f88fc;font-size: 1.5rem;" onclick="openCamera()">Open Camera</button>
                <button id = "analyzeButton" class="btn mt-4 ml-2" style="background-color: #2f88fc;font-size: 1.5rem;">Analyze Image</button>
                <button class="btn mt-4" style="background-color: #2f88fc;font-size: 1.5rem;" onclick="window.location.href='/results'">Get Recommendations</button>
            </div>
            <div class="container col d-flex flex-column">
                    <video class="img-fluid w-60 mx-auto" id="camera"></video>
                    <img class="img-fluid w-60 mx-auto img-thumbnail d-none" id="snapshot"/>
                    <button class="btn btn-success mt-5 mx-auto d-none" style="font-size: 1.5rem;" id="captureButton" onclick="takeSnapshot()">Capture</button>
                </div>
        </div>
    </div>
    
    <script src="../static/mediaHandler.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>